@font-face {
  font-display: swap; 
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/figtree-v6-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/figtree-v6-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/figtree-v6-latin-800.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

h1 {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #232536;
  background-color: #f4d04e;
}


.container {
  display:flex;
  flex-direction:column;
  width: 100%;
  max-width: 384px;
  height: 522px;
  margin-right: auto;
  margin-left: auto;
}

.blog {
  padding: 24px;
  border: 1px solid #111111;
  border-radius: 20px;
  background-color:#ffffff;
}

.blog__image {
  width: 336px;
  height: 200px;
}
.blog_blog-description {
  margin-top: 24px;
  margin-bottom: 24px;
}
.blog_blog-description__button {
  width: 100%;
  max-width: 82px;
  height:29px;
  background-color: #f4d04e;
  border: none;
  border-radius:4px;
  margin-bottom: 12px;
}
.blog_blog-description__date {
  font-weight: 500;
  font-size: 14px;
  line-height:21px;
  color: #111111;
  margin-bottom: 12px;
}
.blog_blog-description__title {
  font-size: 24px;
  font-weight: 800;
  line-height:36px;
  margin-bottom: 12px;
}

.hover:hover{
  color:#f4d04e;
  transition: 0.3s ease;
}

.blog_blog-description__text {
  font-weight: 500;
  font-size:16px;
  line-height:24px;
  color: #7f7f7f;
}
.blog__blog-name {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12px;
}
.blog_blog-name__img {
  width: 32px;
  height: 32px;
}
.blog_blog-name__username {
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
}